{% extends "layout.html" %}

{% block title %}
    Quote Symbol Price
{% endblock %}

{% block main %}
    {% if symbol %}
        <p>
            Shares of {{ symbol.name}} ({{ symbol.symbol }}) costs {{ symbol.price | usd }}
        </p>
    {% else %}
        <form action="/quote", method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus required class="form-control" name="symbol" placeholder="Symbol" type="text">
            </div>
            <button class="btn btn-primary" type="submit">Quote</button>
        </form>
    {% endif %}
{% endblock %}